{% extends '_layout.html' %}

{% block title %}UNCC Professor Rating | All Ratings{% endblock %}
{% block container_class %}bg-exclude{% endblock %}
{% block body %}
<h1 class="mb-5">All Ratings</h1>
<p class="mb-3">See our list of professor ratings below</p>
<table class="table">
  <thead>
    <tr>
      <th>Rating ID</th>
      <th> User ID</th>
      <th>Professor's Name</th>
      <th>Subject</th>
      <th>Course Number</th>
      <th>Semester</th>
      <th>Rating</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    {% for rating, first_name, last_name, subject, course_num in ratings %}
    <tr>
      <td><a href="/ratings/{{ rating.rating_id }}">{{ rating.rating_id }}</a></td>
        <td>{{ rating.user_id }}</td>
        <td>{{ first_name }} {{ last_name }}</td>
        <td>{{ subject }}</td>
        <td>{{ course_num }}</td>
        <td>{{ rating.semester }}</td>
        <td>{{ rating.rating}} </td>
        <td>{{ rating.comments }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
