{% extends '_layout.html' %}

{% block title %}UNCC Professor Rating | All Ratings{% endblock %}
{% block container_class %}bg-exclude{% endblock %}
{% block body %}
<h1 class="mb-5">All Ratings</h1>
<p class="mb-3">See our list of professor ratings below</p>
<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Course Number</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <!-- Render all ratings in a table -->
    {% for i in range(size) %}
    <tr>
      <td>{{ professors[i] }}</td>
        <td>{{ courses[i] }}</td>
        <td>{{ ratings[i] }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
