{% extends '_layout.html' %}

{% block title %}UNCC Professor Ratings | Search Professor Ratings{% endblock %}

{% block body %}
<h1 class="mb-5">Search Professor Ratings</h1>
<form action="/ratings/search" method="get" class="mb-5">
  <label for="q-first-name" class="form-label">Search by first name</label>  
  <div class="input-group">
    <input type="text" name="q-first-name" id="q-first-name" class="form-control" autocomplete="off">
  </div>
  <label for="q-last-name" class="form-label">Search by last name</label>  
  <div class="input-group">
    <input type="text" name="q-last-name" id="q-last-name" class="form-control" autocomplete="off">
  </div>
  <label for="q-subject" class="form-label">Search by subject code (ex. ITSC)</label>  
  <div class="input-group">
    <input type="text" name="q-subject" id="q-subject" class="form-control" autocomplete="off">
  </div>
  <label for="q-course-num" class="form-label">Search by course number (ex. 3155)</label>  
  <div class="input-group">
    <input type="text" name="q-course-num" id="q-course-num" class="form-control" autocomplete="off">
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<!-- If q is passed to the template, we did a search already -->
{% if search_query != '' %}
  {% if ratings|length > 0 %}  
    
    

    <p>Average rating: {{ avg_rating }}</p>

    <table class="table">
      <thead>
        <tr>
          <th class="text-uppercase">Rating ID</th>
          <th class="text-uppercase"> User ID</th>
          <th class="text-uppercase">Professor's Name</th>
          <th class="text-uppercase">Subject</th>
          <th class="text-uppercase">Course Number</th>
          <th class="text-uppercase">Semester</th>
          <th class="text-uppercase">Rating</th>
          <th class="text-uppercase">Comments</th>
        </tr>
      </thead>
      <tbody>
        {% for rating in ratings %}
          <tr>
            <td><a href="/ratings/{{ rating.rating_id }}">{{ rating.rating_id }}</a></td>
            <td>{{ rating.user_id }}</td>
            <td>{{ rating.first_name }} {{ rating.last_name }}</td>
            <td>{{ rating.subject }}</td>
            <td>{{ rating.course_num }}</td>
            <td>{{ rating.semester }}</td>
            <td class="text-success">{{ rating.rating}} </td>
            <td>{{ rating.comments }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No ratings found for your search query.</p>
  {% endif %}
{% endif %}

{% endblock %}